@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
@config "../tailwind.config.js";
@import "tailwindcss";


@layer base {
  html {
    color-scheme: light dark; /* declare support */
    forced-color-adjust: none; /* prevent auto inversion */
  }
  
/* globals.css */
:root {
  --text-white: #fff;
  --text-gray: #ccc;
  --text-lightGray: hsl(223, 64%, 98%);
}
[data-theme="dark"] {
  --text-white: #fff;
  --text-gray: #ccc;
  --text-lightGray: hsl(223, 64%, 98%);
}
  
  .kumbh400 {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    font-variation-settings: "YOPQ" 300;
  }
  
  
  h1 {
    @apply font-bold;
  }
  li {
    @apply cursor-pointer font-medium text-Grayish-blue dark:text-Pale-orange hover:text-Dark-grayish-blue dark:hover:text-gray-200 relative inline-block after:absolute after:left-1/2 after:-translate-x-1/2 after:-bottom-[2.7vw] after:h-[0.28vw] after:w-0 after:bg-Orange  
    hover:after:w-full after:scale-x-0 
    after:transition-transform after:duration-400 
    after:origin-center hover:after:scale-x-100
  }

  @media (min-width: 855px) and (max-width: 2560px) {
    .bigTxt {
      font-size: calc(22px + (70 - 22) * ((100vw - 855px) / 1705));
    }
    .mediumbigTxt {
      font-size: calc(10px + (58 - 10) * ((100vw - 855px) / 1705));
    }
    .mediumTxt {
      font-size: calc(11px + (24 - 11) * ((100vw - 855px) / 1705));
    }
    .smallTxt {
      font-size: calc(10px + (22 - 10) * ((100vw - 855px) / 1705));
    }
    .ultraTxt {
      font-size: calc(9px + (21 - 9) * ((100vw - 855px) / 1705));
    }
    .ultrasmallTxt {
      font-size: calc(8px + (20 - 8) * ((100vw - 855px) / 1705));
    }
    .checkoutTxt {
      font-size: calc(9.5px + (21.5 - 9.5) * ((100vw - 855px) / 1705));
    }
    .ultrasmallerTxt {
      font-size: calc(8px + (20 - 8) * ((100vw - 855px) / 1705));
    }
    .ultrasmallestTxt {
      font-size: calc(7px + (19 - 7) * ((100vw - 855px) / 1705));
    }
  }

  @media (max-width: 854px) {
    .bigTxt {
      font-size: calc(3px + (58 - 3) * ((100vw - 0px) / 854));
    }
    .mediumbigTxt {
      font-size: calc(2px + (64 - 2) * ((100vw - 0px) / 854));
    }
    .mediumTxt {
      font-size: calc(1px + (35 - 1) * ((100vw - 0px) / 854));
    }
    .smallTxt {
      font-size: calc(1px + (32 - 1) * ((100vw - 0px) / 854));
    }
    .ultraTxt {
      font-size: calc(1px + (35 - 1) * ((100vw - 0px) / 854));
    }
    .ultrasmallTxt {
      font-size: calc(1px + (24 - 1) * ((100vw - 0px) / 854));
    }
    .checkoutTxt {
      font-size: calc(1px + (26 - 1) * ((100vw - 0px) / 854));
    }
    .ultrasmallerTxt {
      font-size: calc(0.5px + (19 - 0.5) * ((100vw - 0px) / 854));
    }
    .ultrasmallestTxt {
      font-size: calc(0.5px + (19 - 0.5) * ((100vw - 0px) / 854));
    }
  }
}
